          p{
               font-family: Roboto, Arial;
               margin-top: 0px;
               margin-bottom: 0px;
               color: black;
          }
          body{
               margin: 0px;
               font-family: Robot, Arial;
              
               padding-top: 80px;
               padding-left:26px;
               padding-right: 24px;
               background-color: rgb(222, 222, 222);
    
               
            }
            
     
            a{
               text-decoration: none;
               
            }
            @media (max-width:500px) {
               body{
                  margin-left: -40px;

               }
               
            }
            

           